<div>
  <md-grid-list
        md-cols-xs="1" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="3"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter="12px" md-gutter-gt-sm="8px" >
    <md-grid-tile
        class="grid-container"
        md-colspan-gt-md="1"
        md-colspan-gt-sm="1"
        md-colspan-sm="1"
        md-rowspan-gt-sm="1"
        md-rowspan="1" 
        md-colspan="1" 
        md-colspan-xs="1">
      <h2 class="capital">{{ pokemonDetail.name }}</h2>
      <div>
        <img class="width-100" src="{{ pokemonDetail.image }}" alt="{{ pokemonDetail.name }}" />
      </div>
      <div>
        <h3>Tipo</h3>
          <md-chips>
            <md-chip class="red" ng-repeat="t in pokemonDetail.types"></md-chip>
          </md-chips>
        <!-- <div ng-repeat="t in pokemonDetail.types"> -->
          <md-chips ng-model="pokemonDetail.types" readonly="true">
            <md-chip-template>
              {{ $chip.type.name }}
            </md-chip-template>
          </md-chips>
          <!-- <md-chips ng-model="t.type.name" readonly="true"></md-chips> -->
        <!-- </div> -->
        
        <md-button class="md-raised" ng-click="pokemonDetail.playScreem(pokemonDetail.id)">
          Reproducir <md-icon md-svg-src="/bower_components/material-design-icons/action/svg/production/ic_settings_voice_24px.svg"></md-icon>
        </md-button>
      </div>
    </md-grid-tile>
    <md-grid-tile class="grid-container"
        md-colspan-gt-md="2"
        md-colspan-gt-sm="2"
        md-colspan-sm="2"
        md-rowspan-gt-sm="1"
        md-rowspan="1" 
        md-colspan="1" 
        md-colspan-xs="1">
        <div ng-repeat="stats in pokemonDetail.pokemon_stats">
          <div class="progress-pokemon-info">
            <h4 class="md-title">{{ stats.readable_name }}</h4>
            <md-progress-linear md-mode="determinate" value="{{ stats.stat }}"></md-progress-linear>
          </div>
        </div>
    </md-grid-tile>
  </md-grid-list>
</div>
